h1#bienvenue {
	text-align : center;
}

a {
	color : green;
}

footer {
	text-align:center;
	font-size:10pt;
}

body {
	background-image: url("fond.jpg");
	width:80%;
	margin-left: auto;
	margin-right: auto;
}
	
section:not(.article),header,footer {	
	background-color: beige;
	padding:0.3em;
	border:0.05em solid black;
	border-radius:0.4em;
}

header img{
	vertical-align:middle;
	width:20%;
}

header h1{
	display:inline;
	
}

header {
	margin-bottom:0.3em;
}

footer {
	margin-top:0.3em;
}

section.article table td {
	padding:0.5em;
	background-color:white;
}

section.article table img {
	width:150px;
	height:150px;
}

table {
	
}

#panier {
	text-align:center;
}

.ancien {
	text-decoration:line-through;
	margin:0;
}

.solde {
	font-size:20pt;
	color:orange;
	margin-top:0;
}
