#barre
{
	width: 40%;
}

#acceder
{
	text-align:center;
	font-size:20pt;
	margin-bottom:5pt;
}

#acceder a
{
	background-color:orange;
	padding:5pt 5pt 5pt 5pt;
	color:black;
	border-radius:0.2em;
}

#articles
{
	border-spacing:5pt;
}

#form
{
	text-align:center;
}

td.menu
{
	background-color: lightblue;
    	border: 1px solid black;
    	border-radius: 0.4em;
    	font-size: 100%;
    	text-align: center;
}

.Tmenu
{
	font-size:10pt;
}

td.menu:hover:not(#recherche)
{
	background-color: blue;
}

td.menu a
{
	color:black;
}

td.menu:hover a
{
	color:white;
}

td.menu:not(#recherche):active
{
	background-color: grey;
}

a
{
	text-decoration: none;
	color : green;
}


table:not(.Tmenu)
{
	margin: auto;
	width:100%;
}

.Tmenu
{
	margin-left:auto;
	margin-right:auto;
}

h1#bienvenue {
	text-align : center;
}


footer {
	text-align:center;
	font-size:10pt;
}

body {
	background-image: url("fond.jpg");
	width:80%;
	margin-left: auto;
	margin-right: auto;
}
	
section:not(.article):not(.envoiMail),header,footer {	
	background-color: beige;
	padding:0.3em;
	border:0.05em solid black;
	border-radius:0.4em;
}

header img{
	vertical-align:middle;
	width:20%;
}

header h1{
	display:inline;
	
}

header {
	margin-bottom:0.3em;
}

footer {
	margin-top:0.3em;
}

section.article table td {
	padding:0.5em;
	background-color:white;
}

section.article table img {
	width:150px;
	height:150px;
}

#panier {
	text-align:center;
}

.ancien {
	text-decoration:line-through;
	margin:0;
}

.solde {
	font-size:20pt;
	color:orange;
	margin-top:0;
}

#barre2
{
	width: 5%;
}

#Haut_form
{
	text-align: center;
}

#barre_tel
{
	width:10%;
}

#mail 
{
	width:80%;
	height:50pt;
}

h2
{
	font-size: 100%;
}

#confirm
{
	text-align: center;
}

.page
{
	
}
